description = "Dashboard Header Card"
==
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-{{ color }} shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-{{ color }} text-uppercase mb-1">{{ label }}</div>
                
                    {% if progress is not null %}
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                    {% endif %}
                    
                                <div class="h5 mb-0 {% if progress is not null %}mr-3{% endif %} font-weight-bold text-gray-800">{{ value }}</div>
                            </div>
                            
                {% if progress is not null %}
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-{{ color }}" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-auto">
                    <i class="fas {{ icon }} fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>