==
<!-- Bootstrap core JavaScript-->
  <script src="{{ 'vendor/components/jquery/jquery.min.js'|theme }}"></script>
  <script src="{{ 'vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js'|theme }}"></script>
  <script src="{{ 'vendor/datatables/datatables/media/js/jquery.dataTables.min.js'|theme }}"></script>
  <script src="{{ 'vendor/datatables/datatables/media/js/dataTables.bootstrap4.min.js'|theme }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ 'vendor/components/jqueryui/jquery-ui.min.js'|theme }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ 'assets/js/sb-admin-2.js'|theme }}"></script>
  
  <!-- Chart Script -->
  <script src="{{ 'assets/js/chart.js/Chart.js'|theme }}"></script>